@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
    --body-font: "Monserrat", sans-serif;
    --body-color: rgb(144, 169, 85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

wrapper{
    font-family: var(--body-font);
    background-color: var(--body-color);
}

h1 {
    color: rgb(0, 122, 156);
}